
<link rel="stylesheet" href="/res/jquery-ui/jquery-ui.css" />
<link rel="stylesheet" href="/res/primeui/themes/$theme/theme.css" />  
<link rel="stylesheet" href="/res/fa/font-awesome.css" />    
<link rel="stylesheet" href="/res/primeui/primeui-2.2-min.css" />  
<script type="text/javascript" src="/res/jquery/jquery.js"></script>  
<script type="text/javascript" src="/res/jquery-ui/jquery-ui.js"></script>  
<script type="text/javascript" src="/res/primeui/primeui-2.2-min.js"></script> 
<script type="text/javascript" src="/res/jquery/jquery.formatDateTime.min.js"></script>
<script type="text/javascript" src="/res/jquery/jquery.flot.min.js"></script>
<script type="text/javascript" src="/res/jquery/jquery.flot.time.min.js"></script>